{% extends 'create-test/test_base.html.twig' %}

{% block h1 %}
    <h1>Создать новый тест</h1>
{% endblock h1 %}

{% block include_form %}
    {% embed 'create-test/_form.html.twig' %}{% endembed %}
{% endblock include_form %}

{% block include_sidebar %}
    {% include 'create-test/sidebar_new_test.html.twig' %}
{% endblock include_sidebar %}
