<div class="sidebar-test-preface col-md-3 col-sm-4 col-xs-12" style="padding-top:30px">
    <p>
        Вы можете создавать тесты без регистрации, но если вы зарегистрируетесь,
        то легко сможете управлять своими тестами и просматривать результаты.
    </p>

    <p>
        Если вы сейчас перейдете к регистрации, то созданные ранее с этого устройства
        тесты не будут потеряны.
    </p>

    <p>
        Также, после создания теста вы сможете указать e-mail, чтобы получать
        уведомления о сдаче тестов и получите ссылку для просмотра результатов.
    </p>

    <a href="{{ path('homepage') }}" class="btn btn-default">Зарегистрироваться</a>
</div>
