{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    {{ parent() }}

<div class="wrapper container">
    <div class="row">
        <div class="content col-md-8 col-sm-12">

            {% block h1 %}{% endblock h1 %}

            {% for message in app.flashes('message') %}
                <div class="flash-message alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% block include_form %}{% endblock include_form %}

        </div>
    </div>
</div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/template" id="variants-template">

        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Варианты ответа</h4>

                <ol class="variants-list">
                    <div class="clearfix">
                        <button class="btn btn-default pull-right add-variant-btn">
                            + Добавить вариант
                        </button>
                    </div>
                </ol>
            </div>
        </div>

    </script>

    {% javascripts '@test_edit_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock javascripts %}
