{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="wrapper container">
        <div class="row">
            <div class="content col-md-9 col-sm-8 col-xs-12">
                <h1 style="margin-bottom: 20px;">Попробовать свои силы</h1>

                {% include 'default/tests_list.html.twig' %}

                <p class="lead">
                    <a href="{{ path('tests_list') }}">Смотреть все тесты &rarr;</a>
                </p>
            </div>

            {% include 'default/sidebar_homepage.html.twig' %}
        </div>
    </div>

{% endblock body %}
