<div class="sidebar col-md-3 col-sm-4 col-xs-12">
    <h2>О сайте</h2>
    <p>
        TestHub это сервис, который позволяет вам легко создавать
        тесты для проверки знаний и просматривать результаты в
        удобном интерфейсе.
    </p>
    <p>
        Для создания и прохождения теста не требуется регистрация,
        но мы советуем это сделать, так как в этом случае вы легко
        сможете управлять своими тестами.
    </p>
    <p>
        Присоединяйтесь к сообществу TestHub!
    </p>

    <p>
        <a href="{{ path('homepage') }}"
           class="btn btn-default btn-lg">Создать тест</a>
    </p>
    <p>
        <a href="{{ path('homepage') }}">Зарегистрироваться</a>
    </p>
</div>
