<div class="sidebar-tests col-md-3 col-sm-4 col-xs-12" style="padding-top:30px">
    <p>
        Чтобы найти нужный тест, введите тему, имя пользователя или ключевые
        слова в поле поиска. Тесты выводятся по убыванию популярности.
    </p>
    <p>
        <a href="{{ path('test_new') }}"
           class="btn btn-default btn-lg">Создать тест</a>
    </p>
    <p>
        <a href="{{ path('homepage') }}">Зарегистрироваться</a>
    </p>
</div>
