<div class="sidebar-test-preface col-md-3 col-sm-4 col-xs-12" style="padding-top:30px">
    <p>
        Если вы сейчас войдете на сайт или зарегистрируетесь, то результаты
        теста будут сохранены в вашем акаунте.
    </p>
    <a href="{{ path('homepage') }}" class="btn btn-default">Зарегистрироваться</a>
</div>
